body {
    font-family: 'Arial', sans-serif;
    background-color: #000000
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: darkgray;
    padding: 16px;
}

header {
    background-color: gray;
    height: 150px;
    padding: 4px;

}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

header h2 {
    font-variant: arial;
    text-align: center;
    color: #fff;
}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
}

ul.main_menu {
    margin-top: 15px;
    list-style: none
}

.main_menu {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.main_menu a {
    text-decoration: none;
    color: #fff;
    padding: 0px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: teal;
}